.app-content {
    padding: 10px 0 10px 0;
}

.app-content md-card {
    margin-bottom: 10px;
}

.card-logo, .card-spacer, .card-button {
    display: table-cell;
    color: white;
}

.card-right {
    float: right;
}

.app-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0, 10px, 0, 10px;
}

.app-spinner {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.badge {
  position:absolute;
  border-radius:444px;
  color: white;
  background:rgba(255,0,0,.80);
  top: 15px;
  height: 20px;
  background-repeat: no-repeat;
}

.button {
    color: white;
}
