<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> {{title}}

    <span class="app-toolbar-filler"></span>

    <app-alarm></app-alarm>

    <button md-button (click)="isDarkTheme = !isDarkTheme">THEME</button>
  </md-toolbar>

  <md-card>
    <div class="card-container">
      <div class="card-logo">
        <img src="./assets/logo-header-fedex.png">
      </div>
      <div class="card-spacer">
        <img src="./assets/app-spacer.png">
      </div>
      <div class="card-button">
        <button md-raised-button color="accent" routerLink="/alarms" routerLinkActive="active">ALERTS DEMO</button>
        <button md-raised-button color="accent" routerLink="/demo" r outerLinkActive="active">MATERIAL DEMO</button>
      </div>
    </div>
  </md-card>

  <router-outlet></router-outlet>
</md-sidenav-layout>