<toaster-container></toaster-container>

<div [class.m2app-dark]="isDarkTheme">
  <md-toolbar color="primary">
    <button class="app-icon-button" [md-menu-trigger-for]="menu">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> {{title}}

    <span class="app-toolbar-filler"></span>

    <app-alert></app-alert>

    <button md-button (click)="isDarkTheme = !isDarkTheme">THEME</button>
  </md-toolbar>

  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/alerts" routerLinkActive="active">ALERTS DEMO</button>
    <button md-menu-item routerLink="/contacts" routerLinkActive="active">CONTACT DEMO</button>
    <button md-menu-item routerLink="/feed" routerLinkActive="active">RSS DEMO</button>
  </md-menu>

  <md-card>
    <div class="card-container">
      <div class="card-logo">
        <img src="./assets/logo-header-csc.png">
      </div>
      <div class="card-spacer">
        <img src="./assets/app-spacer.png">
      </div>
      <div class="card-button">
        <button md-raised-button color="accent" routerLink="/alerts" routerLinkActive="active">ALERTS DEMO</button>
        <button md-raised-button color="accent" routerLink="/contacts" routerLinkActive="active">CONTACT DEMO</button>
        <button md-raised-button color="accent" routerLink="/feed" routerLinkActive="active">RSS DEMO</button>
      </div>
    </div>
  </md-card>

  <router-outlet></router-outlet>
</div>
