<span class="badge" background-color="accent" *ngIf="size | async">{{size | async}}</span>
<!-- Single button with keyboard nav -->
<div dropdown keyboardNav="true">
<button md-icon-button dropdownToggle>
        <md-icon>notifications</md-icon>
</button>

  <ul class="alerts" dropdownMenu role="menu" >
        <li  role="menuitem" *ngFor="let alert of _alertStore.alerts | async" (click)="onSelect(alert)" [class.selected]="alert === selectedAlert">
          <span class="alert-element">
             {{alert.title}}
          </span>
          <button class="delete-button" (click)="deleteAlert(alert, $event)">Delete</button>
        </li>
  </ul>
</div>
